extends layout

block content
  h1 Welcome
  div#left
    p My Name is Oleg Salionov. It's my personal page
    p Page sources located on my 
      a(href='https://github.com/blackbass1988/salionov.ru') GitHub page
    p
      a(href='/workplaces') My workplaces
  div#right
