extends layout

block content
  div#left
    p My Name is Oleg Salionov. It's my personal page
    p Page sources located on my 
      a(href='https://github.com/blackbass1988/salionov.ru') GitHub page
    p
      a(href='/workplaces') My workplaces
    p
      a(href='/links') Links
  div#right
