doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#container
      h1= title
      include breadcrumbs
      block content
      #contacts
        contacts = {Twitter: "http://twitter.com/salionov", LinkedIn: "http://www.linkedin.com/profile/view?id=217090139", Facebook: "https://www.facebook.com/salionov", GitHub: "https://github.com/blackbass1988"}
        each url, key in contacts
          span
            a(href='#{url}') #{key}
