extends layout

block content
  form(id='screenshot-form', method='post')
    label(for-id='url-input') URL
    input(id='url-input', name='url', type='text')
    input(type='submit',value='Make shot!')
    p
      small (example: http://google.com) 
  p Powered by 
    a(href='http://phantomjs.org/') PhantomJS
