extends layout
block content
  div#workplaces-container
    ul
      each a in jobs
        li
          span.workplace-time #{a.time}
          span.workplace-name #{a.name}
          span.workplace-descr (#{a.descr})
