@font-face {
  font-family: 'DroidSansRegular';
  src: url("fonts/DroidSans-webfont.eot");
  src: url("fonts/DroidSans-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/DroidSans-webfont.woff") format('woff'), url("fonts/DroidSans-webfont.ttf") format('truetype'), url("fonts/DroidSans-webfont.svg#DroidSansRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DroidSansBold';
  src: url("fonts/DroidSans-Bold-webfont.eot");
  src: url("fonts/DroidSans-Bold-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/DroidSans-Bold-webfont.woff") format('woff'), url("fonts/DroidSans-Bold-webfont.ttf") format('truetype'), url("fonts/DroidSans-Bold-webfont.svg#DroidSansBold") format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  padding: 50px;
  font: 14px DroidSansRegular, sans-serif;
}
body h1 {
  font-family: DroidSansBold, sans-serif;
  font-weight: normal;
}
div#container {
  width: 50%;
  margin: 0 auto;
}
a {
  color: #00b7ff;
}
#contacts {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}
#contacts span {
  margin-right: 5px;
}
div#left {
  float: left;
}
div#right {
  margin-left: 20px;
  background: url("http://www.gravatar.com/avatar/b0c0d9f448eb6eb9c5b32ce56f72e21f?s=200");
  width: 200px;
  height: 200px;
  float: left;
}
div#workplaces-container ul {
  list-style-type: none;
}
div#workplaces-container span {
  margin-right: 5px;
}
span.workplace-name {
  font-weight: bold;
}
